*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  body{
    background-color: aliceblue;
    align-items: center;
    justify-content: center;

  }


.formulario{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario label{
    font-weight: bolder;
    
}

.formulario input{
    border: solid 1px;
    border-radius: 1px;
    border-color: black;
}